Package: pacstall
Version: 1.5.1-1
Architecture: all
Maintainer: Pacstall team <pacstall@pm.me>
Installed-Size: 35
Depends: bash (>= 4.3-15ubuntu1) | sensible-utils | curl | wget | stow | build-essential | unzip | tree | bc | fakeroot
Recommends: axel | ripgrep
Section: universe/utils
Priority: optional
Homepage: https://pacstall.dev/
Description: AUR inspired package manager for Ubuntu
 Pacstall will attempt to become the AUR Ubuntu wishes it had.
 It takes the AUR and puts a spin on it, making it easier to
 install programs without scouring github repos and the likes.
